@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 640px) {
    .sm\:fixed {
        position: fixed
    }

    .sm\:top-0 {
        top: 0px
    }

    .sm\:right-0 {
        right: 0px
    }

    .sm\:ml-0 {
        margin-left: 0px
    }

    .sm\:flex {
        display: flex
    }

    .sm\:items-center {
        align-items: center
    }

    .sm\:justify-center {
        justify-content: center
    }

    .sm\:justify-between {
        justify-content: space-between
    }

    .sm\:text-left {
        text-align: left
    }

    .sm\:text-right {
        text-align: right
    }
}

@media (min-width: 768px) {
    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}

@media (min-width: 1024px) {
    .lg\:gap-8 {
        gap: 2rem
    }

    .lg\:p-8 {
        padding: 2rem
    }
}

html{

}

body{

}

.menu-header{
    color: aquamarine;
    align-items: center;
    display: flex-row;
}
